body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
 font-family: "Helvetica";
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/4a/4c/ee/4a4cee7d820b8f9809ab2f9d921bfab2.jpg");
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
}
}

.hauptbox{
width:80%;
}



a{
  text-decoration: none;
    font-family: "Helvetica", sans-serif;
    
}

section a{
  color: white;
}



.section1 {
  height: 90vh;
  background-size: cover;
  background-position: center;

  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.section1 h1 {
  font-size: 5vw;
  color: white;
  background-image:

}







p{
  font-family: "Helvetica",sans-serif;
  font-weight: 350;
  font-style: bold;
  font-size: 14pt;
  position: relative;
  float: none;
  color: white;
}







@media (max-width: 700px) {
  input {
    width: 55vw;
  }
  textarea {
    width: 55vw;
  }
  .contact{
    padding:1em;
  }
}

@media (max-width: 1300px) {
  hr {
    display: none;
  }
}

.button3{
  

  height: 50px;
  width: 100px;
  border-radius: 1em;
  border: 1.5px solid white;
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.45em;
 
 color: #494949; width: 200; height: 25px;

}

.button3:hover{background-color: #96C8C8; color: #f0f0f0; transition: 800ms;}
